@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NAV SECTION */

a{
    text-decoration: none;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 90px;
}

#navbar img{
    width: 100%;
}

.navlinks{
    display: flex;
    gap: 40px;
}

.navlinks a{
    color: rgb(26, 25, 25);
    font-size: 13px;
    font-weight: lighter;
}

.navlinks a:hover{
    color: rgb(158, 154, 154);
}

.begin{
    background-color: rgb(243, 119, 74);
    color: white;
    padding: 15px 30px;
    font-size: 12px;
    border-radius: 60px;
}

.begin:hover{
    background-color: rgb(247, 160, 129);
}

/* ANNOUNCE SECTION */

#announce{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 90px;
}

.announce_1 h1{
    font-size: 60px;
    color: rgb(54, 56, 68);
}

.announce_1 p{
    width: 63%;
    font-size: 16px;
    color: rgb(173, 174, 180);
    padding: 30px 0;
}

.announce_1 a{
    margin-top: 20px;
}

.announce img{
    width: 40%;
}

/* ABOUT SECTION */

#about{
    display: flex;
    padding: 40px 90px;
    justify-content: space-between;
}

.about_1{
    width: 100%;
}

.about_1 h1{
    font-size: 40px;
    color: rgb(54, 56, 68);
}

.about_1 p{
    width: 60%;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(173, 174, 180);
    padding: 30px 0;
}

.about_00{
    width: 100%;
}

.about_2{
    display: flex;
    gap: 50px;
    width: 100%;
    padding: 30px 0;
}

.num{
    background-color: rgb(243, 119, 74);
    color: white;
    padding: 10px 30px;
    height: 45px;
    border-radius: 50px;
}

.about_low h3{
    font-size: 16px;
    font-weight: bold;
    color: rgb(54, 56, 68);
}

.about_low p{
    font-size: 16px;
    color: rgb(173, 174, 180);
}

/* TESTIMONIAL SECTION */

#test{
    padding: 40px 90px;
    margin-bottom: 50px;
}

.begin-2btn{
    text-align: center;
}

.begin_2{
    background-color: rgb(243, 119, 74);
    color: white;
    padding: 15px 30px;
    font-size: 12px;
    border-radius: 60px;
}

.begin_2:hover{
    background-color: rgb(247, 160, 129);
}

#test h1{
    padding: 30px 0;
    text-align: center;
    font-size: 40px;
    color: rgb(54, 56, 68);
    font-weight: 400;
}

.testBoxes{
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0;
    text-align: center;
}

.testinfo h3{
    font-size: 14px;
}

.testinfo p{
    color: rgb(173, 174, 180);
    font-size: 12px;
    font-weight: lighter;
}

.testimony{
    width: 100%;

}

/* NOTIFY SECTION */

#notify{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 90px;
    background-color: rgb(243, 119, 74);
    color: white;
}

#notify h1{
    font-size: 40px;
    width: 50%;
}

.begin_1{
    background-color: rgb(255, 255, 255);
    color: rgb(243, 119, 74);
    padding: 15px 30px;
    font-size: 12px;
    border-radius: 60px;
}

.begin_1:hover{
    color: rgb(247, 160, 129);
}

/* FOOTER SECTION */

#footer{
    background-color: rgb(22, 21, 21);
    color: white;
    padding: 40px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    margin-top: 50px;
}

.socials a{
    margin: 0 7px;
}

.socials a img:hover{
    color: rgb(247, 160, 129);
}

.footlist{
    display: flex;
    gap: 200px;
}

.footlist_1 a, .footlist_2 a{
    display: list-item;
    margin: 10px 0;
    list-style: none;
    color: white;
    font-size: 14px;
    font-weight: none;
}

.footlist_1 a:hover{
    color: rgb(247, 160, 129);
}

.footlist_2 a:hover{
    color: rgb(247, 160, 129);
}

.footlink_1{
    display: flex;
    gap: 20px;
}

.footlink_1 input{
    width: 100%;
    border-radius: 20px;
    height: 40px;
}

.footlink_1 a{
    background-color: rgb(243, 119, 74);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

.footlink_1 a:hover{
    background-color: rgb(247, 160, 129);
}

.footremark p{
    color: rgb(145, 131, 131);
    margin-top: 50px;
    font-size: 11px;
    font-weight: none;
}

.menuIcon{
    display: none;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(243, 119, 74); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 100px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: rgb(247, 160, 129); /* Add a dark-grey background on hover */
  }

@media screen and (max-width:992px) {
   .announce_1{
    width: 50%;
   }

   .announce_1 h1{
    font-size: 40px;
   }

   .announce_1 p, .about_1 p, .about_low p{
    font-size: 14px;
   }
   
   #announce img{
    width: 50%;
   }

   .about_1 h1, #test h1, #notify h1{
    font-size: 30px;
   }

   .num{
    padding: 8px 22px;
   }

   .testBoxes{
    gap: 30px;
   }

   .testimony img{
    width: 57%;
    height: 100px;
   }

   .footlist{
    gap: 90px;
   }

}

@media screen and (max-width:768px) {
    #navbar{
        gap: 15px;
        padding: 40px 60px;
    }

    .navlinks{
        gap: 20px;
    }
    
    .navlinks a{
        font-size: 11px;
    }

    .begin{
        padding: 6px 15px;
        font-size: 11px;
    }

    .announce_1 h1, .about_1 h1{
        font-size: 30px;
    }

    .announce_1 p, .about_1 p, .about_low p, .testinfo h3{
        font-size: 12px;
    }

    .about_2, .footlink_1{
        gap: 10px;
    }

    .about_low h3{
        font-size: 14px;
    }

    .num{
        height: 25px;
        padding: 3px 15px;
        font-size: 14px;
    }
    
    #announce, #about, #test, #footer{
        padding: 40px 60px;
    }

    .about_1 h1, .notify h1{
        font-size: 25px;
    }

    .testBoxes{
        gap: 15px;
    }

    .testimony img{
        height: 85px;
    }

    .testinfo p{
        font-size: 10px;
    }

    .begin-2btn, .begin_1{
        padding: 7px 15px;
        font-size: 10px;
    }

    #notify h1{
        font-size: 20px;
    }

    .socials{
        margin-top: 20px;
    }

    .socials a img{
        margin: 0 -3px;
    }

    .footlist{
        gap: 40px;
    }

    .footlist_1 a, .footlist_2 a{
        margin: 5px 0;
        font-size: 12px;
    }

    .footlink_1 input{
        height: 30px;
    }

    .footlink_1 a{
        padding: 2px 15px;
    }

    .footremark p{
        font-size: 10px;
        margin-top: 14px;
    }
}

@media screen and (max-width:576px) {
    #navbar{
        gap: 10px;
        padding: 40px 20px;
    }

    .navlinks{
        gap: 15px;
    }

    .begin{
        padding: 5px 10px;
        font-size: 9px;
    }

    #announce, #about, #test, #notify, #footer{
        padding: 40px 20px;
    }
    .testimony img{
        height: 72px;
    }

    .socials{
        margin-top: 10px;
    }

    .socials a{
        margin: 0 4px;
    }

    .footlist {
        gap: 12px;
    }

    .footlink_1 {
        gap: 5px;
    }

}